doctype html
html
  head
    title Email Verified | Tension
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet' type='text/css' href='/css/tension.css')
  body.account-verified-container
    .account-verified-main
      .div
        span.mdi.mdi-check
        p.account-verified-text Your account has been verified. Please click on the button below to log in.
        a.account-verified-link(href='/users/login')
          button.account-verified-link-button Log In